@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

@modalWidth: 900px;
@modalHeight: 450px;
@buttonColor: #597E9B;

.modal-widget {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1000;
  background: rgba(0,0,0,.5);
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  display: none;
  transition: all .3s;

  * {
    box-sizing: border-box;
  }

  .va-middle {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    display: table;
    width: 100vw;
    height: 100vh;

    > .va-middle {
      width: @modalWidth;
      height: @modalHeight;
    }
  }

  .modal-content {
    width: @modalWidth;
    height: @modalHeight;
    border-radius: 10px;
    background: #ddd;
    margin: 0 auto;
    box-shadow: 0 0 40px #555;
    overflow: hidden;

    .modal-img {
      float: right;
      margin-top: calc((@modalHeight - 256px) / 2);
      width: 256px;
      height: 256px;
      border-radius: 50%;
    }
  }

  .modal-body {
    display: table;
    color: #333;

    > .va-middle {
      width: @modalWidth;
      height: @modalHeight;
      padding: 40px 20px 40px 40px;
    }

    h2 {
      font-size: 38px;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0 0 18px 0;
      font-size: 18px;
    }

    input {
      border-radius: 5px;
      border: 0 none;
      padding-left: 10px;
      height: 45px;
      font-size: 18px;
      clear: both;
      width: 500px;
      margin-bottom: 18px;
    }

    p.modal-error {
      color: red;
      height: 0;
      transition: height .3s;
      overflow: hidden;
    }

    a {
      color: #fff;
      font-size: 26px;
      text-decoration: none;
      background: @buttonColor;
      font-weight: bold;
      line-height: 80px;
      display: inline-block;
      padding: 0 25px;
      border-radius: 5px;
      transition: all .3s;

      &:hover {
        background: lighten(@buttonColor, 10%);
      }
    }
  }

  .modal-close {
    float: right;

    a {
      margin-right: 15px;
      color: #888;
      font-size: 35px;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        transform: rotate(90deg);
        color: #fff;
      }
    }
  }

  &.dark {
    .modal-content {
      background: #333;

      .modal-body {
        .modal-header, .modal-message, .modal-ok {
          color: #eee;
        }
      }
    }
  }
}