@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
.modal-widget {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.modal-widget * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-widget .va-middle {
  display: table-cell;
  vertical-align: middle;
}
.modal-widget .modal-container {
  display: table;
  width: 100vw;
  height: 100vh;
}
.modal-widget .modal-container > .va-middle {
  width: 900px;
  height: 450px;
}
.modal-widget .modal-content {
  width: 900px;
  height: 450px;
  border-radius: 10px;
  background: #ddd;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 40px #555;
  box-shadow: 0 0 40px #555;
  overflow: hidden;
}
.modal-widget .modal-content .modal-img {
  float: right;
  margin-top: -webkit-calc(97px);
  margin-top: calc(97px);
  width: 256px;
  height: 256px;
  border-radius: 50%;
}
.modal-widget .modal-body {
  display: table;
  color: #333;
}
.modal-widget .modal-body > .va-middle {
  width: 900px;
  height: 450px;
  padding: 40px 20px 40px 40px;
}
.modal-widget .modal-body h2 {
  font-size: 38px;
  margin: 0 0 18px 0;
}
.modal-widget .modal-body p {
  margin: 0 0 18px 0;
  font-size: 18px;
}
.modal-widget .modal-body input {
  border-radius: 5px;
  border: 0 none;
  padding-left: 10px;
  height: 45px;
  font-size: 18px;
  clear: both;
  width: 500px;
  margin-bottom: 18px;
}
.modal-widget .modal-body p.modal-error {
  color: red;
  height: 0;
  -webkit-transition: height .3s;
  transition: height .3s;
  overflow: hidden;
}
.modal-widget .modal-body a {
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  background: #597e9b;
  font-weight: bold;
  line-height: 80px;
  display: inline-block;
  padding: 0 25px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.modal-widget .modal-body a:hover {
  background: #7697b1;
}
.modal-widget .modal-close {
  float: right;
}
.modal-widget .modal-close a {
  margin-right: 15px;
  color: #888;
  font-size: 35px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.modal-widget .modal-close a:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #fff;
}
.modal-widget.dark .modal-content {
  background: #333;
}
.modal-widget.dark .modal-content .modal-body .modal-header,
.modal-widget.dark .modal-content .modal-body .modal-message,
.modal-widget.dark .modal-content .modal-body .modal-ok {
  color: #eee;
}
