  <div class="modal-widget dark">
    <div class="modal-container">
      <div class="va-middle">
        <div class="modal-content">
          <div class="modal-close">
            <a href="#">&times;</a>
          </div>
            <img class="modal-img" src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-software/256/Yahoo-Messenger-icon.png">
          <div class="modal-body">
            <div class="va-middle">
              <h2 class="modal-header">Lorem ipsum dolor sit.</h2>
              <p class="modal-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis aliquam deserunt excepturi, consectetur, vero omnis similique delectus nam saepe animi!</p>
              <input type="email">
              <p class="modal-error">Wrong email!</p>
              <a href="#" class="modal-ok">Try it for free</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>